<p id="notice"><%= notice %></p>

<h1>New ToDo</h1>

  <%= form_for(@todo, remote: true) do |f| %>
    <label for="formGroupExampleInput">DeadLine</label>
    <fieldset class="form-group">
      <%= f.date_select :deadline , class: 'form-control' %>
    </fieldset>
    <label for="formGroupExampleInput">Task Name</label>
    <fieldset class="form-group">
      <%= f.text_field :task, class: 'form-control', placeholder: 'Enter your task here!' %>
    </fieldset>
    <%= f.submit 'New!', class: 'btn btn-success' %>
  <% end %>

<h1>Listing Todos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Done</th>
      <th>Task</th>
      <th>Deadline</th>
      <th>destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
    　　<%= render partial: 'tr', locals: { todo: todo } %>
    <% end %>
  </tbody>
</table>

<br>

